.text-one-line, .text-two-line, .text-three-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-one-line {
    -webkit-line-clamp: 1;
}

.text-two-line {
    -webkit-line-clamp: 2;
}

.text-three-line {
    -webkit-line-clamp: 3;
}

.paginator {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .paginator {
        transition: none;
    }
}

.paginator:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

.paginator:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow);
}

.active > a,
a.active {
    z-index: 3;
    color: black !important;
    /*color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);*/
}

.paginator a {
    text-decoration: none;
}

.success, .message, .cake-error, .cake-debug, .notice, p.error, .error-message {
    background: #e0e0e0;
    border: none;
    padding: 15px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.success, .message, .cake-error, p.error, .error-message {
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}